* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.parent {
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
}
.webcamparent {
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.canvas {
  width: -webkit-fill-available;
  height: auto;
  margin-block: auto;
}
#webcamButtons button {
  width: 50px;
  margin: 2px 10px;
  padding: 5px 0px;
  font-size: 11px;
  outline: none;
  color: white;
  background: rgb(61, 157, 173);
}
.webcamButtons {
  display: flex;
  margin: 0 14rem;
}
.commonButton {
  cursor: pointer;
  background: transparent;
  color: black;
  border: 1px solid red;
  box-shadow: 3px 3px 8px #d82c2c !important;
}
.greenBTN {
  border: 1px solid #21aa5e !important;
  box-shadow: 3px 3px 8px #419a61 !important;
}
.hide {
  display: none !important;
}

.visible {
  display: flex !important;
  flex-direction: column;
  width: auto;
}
.loadingRightSideContainer {
  font-size: 10px;
  font-family: monospace;
}

#rightSIdeImageContainer {
  margin-top: 7.5rem;
}

@media (max-width: 808px) {
  #rightSIdeImageContainer {
    width: 85% !important;
  }
}

@media (max-width: 480px) {
  .webcamparent {
    height: 21rem;
  }
}
