* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.parent {
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
}
.webcamparent {
  display: flex;
  justify-content: space-around;
  width: 45%;
  max-width: 50%;
  min-width: 40%;
  height: 22em;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.canvas {
  width: 45%;
  max-width: 58%;
  min-width: 39%;
  height: 21.9em;
}
#webcamButtons button {
  width: 50px;
  margin: 2px 10px;
  padding: 5px 0px;
  font-size: 11px;
  outline: none;
  color: white;
  background: rgb(61, 157, 173);
}
.webcamButtons {
  display: flex;
  margin: 0 14rem;
}
